doctype html
html(lang=es)
	head
		title NodePatters
		link(rel="stylesheet", href="/public/css/bootstrap/bootstrap.css")
	body
		nav.navbar.navbar-inverse(role="navigation")
			.container-fluid
				.nav-header#myId 
					a.navbar-brand Patterns @ Node
				p.navbar-text.navbar-right by @diegoram
		container-fluid

		block content